## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
# your code
df = data
len(df[df['sex']== 'Male'])

21790

In [4]:
len(df[df['sex']== 'Female'])

10771

In [5]:
df = data
df["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [6]:
df.loc[df['sex'] == 'Male', 'age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [19]:
a = df['native-country'].count()
b = df.loc[df['native-country'].isin(['United-States'])].count()
c = b/a * 100
print(c)

age               89.585701
workclass         89.585701
fnlwgt            89.585701
education         89.585701
education-num     89.585701
marital-status    89.585701
occupation        89.585701
relationship      89.585701
race              89.585701
sex               89.585701
capital-gain      89.585701
capital-loss      89.585701
hours-per-week    89.585701
native-country    89.585701
salary            89.585701
dtype: float64

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [30]:
a = df['age'].where(df['salary'] == '>50K').dropna()
b = df['age'].where(df['salary'] == '<=50K').dropna()

avr1 = a.mean()
avr2 = b.mean()

savr1 = a.std()
savr2 = b.std()

print(avr1)
print(avr2)

print(savr1)
print(savr2)

44.24984058155847
36.78373786407767
10.519027719851826
14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [43]:
# a = df['salary'].where((df['education'] == 'Bachelors') | (df['education'] == 'Prof-school') 
#                        | (df['education'] == 'Assoc-acdm') | (df['education'] == 'Assoc-voc') 
#                        | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')).dropna()

educ = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

test = df[~df.education.isin(educ)]

b = test.drop(columns= ['age', 'fnlwgt', 'marital-status', 'relationship', 'race', 'sex',
                         'capital-gain', 'capital-loss', 'workclass', 'education-num'])

# print(a)
print(b)
print("Ответ: нет")

          education         occupation  hours-per-week native-country salary
2           HS-grad  Handlers-cleaners              40  United-States  <=50K
3              11th  Handlers-cleaners              40  United-States  <=50K
6               9th      Other-service              16        Jamaica  <=50K
7           HS-grad    Exec-managerial              45  United-States   >50K
10     Some-college    Exec-managerial              80  United-States   >50K
...             ...                ...             ...            ...    ...
32555  Some-college    Protective-serv              40  United-States  <=50K
32557       HS-grad  Machine-op-inspct              40  United-States   >50K
32558       HS-grad       Adm-clerical              40  United-States  <=50K
32559       HS-grad       Adm-clerical              20  United-States  <=50K
32560       HS-grad    Exec-managerial              40  United-States   >50K

[22045 rows x 5 columns]
Ответ: нет

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [79]:
a = df[['race', 'age', 'sex']]
b = a.groupby('race')

c = b.get_group("Asian-Pac-Islander")
d = c['age'].where(c['sex'] == 'Male').max()

a.describe()
print(d)

90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [92]:
marr = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

a = df['marital-status'].where(df['salary'] == '>50K').dropna()

b = a.isin(marr)
c = ~a.isin(marr)

f = b.value_counts()
g = c.value_counts()
print(f)
print(g)

AttributeError: 'DataFrame' object has no attribute 'marital'

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:
# your code

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [13]:
# your code

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [14]:
# your code

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [15]:
# your code

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [16]:
# your code