## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
# your code
df = data
len(df[df['sex']== 'Male'])

21790

In [4]:
len(df[df['sex']== 'Female'])

10771

In [5]:
df = data
df["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [6]:
df.loc[df['sex'] == 'Male', 'age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [7]:
a = df['native-country'].count()
b = df.loc[df['native-country'].isin(['United-States'])].count()
c = b/a * 100
print(c)

age               89.585701
workclass         89.585701
fnlwgt            89.585701
education         89.585701
education-num     89.585701
marital-status    89.585701
occupation        89.585701
relationship      89.585701
race              89.585701
sex               89.585701
capital-gain      89.585701
capital-loss      89.585701
hours-per-week    89.585701
native-country    89.585701
salary            89.585701
dtype: float64

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [8]:
a = df['age'].where(df['salary'] == '>50K').dropna()
b = df['age'].where(df['salary'] == '<=50K').dropna()

avr1 = a.mean()
avr2 = b.mean()

savr1 = a.std()
savr2 = b.std()

print(avr1)
print(avr2)

print(savr1)
print(savr2)

44.24984058155847
36.78373786407767
10.519027719851826
14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
# a = df['salary'].where((df['education'] == 'Bachelors') | (df['education'] == 'Prof-school') 
#                        | (df['education'] == 'Assoc-acdm') | (df['education'] == 'Assoc-voc') 
#                        | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')).dropna()

educ = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

test = df[~df.education.isin(educ)]

b = test.drop(columns= ['age', 'fnlwgt', 'marital-status', 'relationship', 'race', 'sex',
                         'capital-gain', 'capital-loss', 'workclass', 'education-num'])

# print(a)
print(b)
print("Ответ: нет")

          education         occupation  hours-per-week native-country salary
2           HS-grad  Handlers-cleaners              40  United-States  <=50K
3              11th  Handlers-cleaners              40  United-States  <=50K
6               9th      Other-service              16        Jamaica  <=50K
7           HS-grad    Exec-managerial              45  United-States   >50K
10     Some-college    Exec-managerial              80  United-States   >50K
...             ...                ...             ...            ...    ...
32555  Some-college    Protective-serv              40  United-States  <=50K
32557       HS-grad  Machine-op-inspct              40  United-States   >50K
32558       HS-grad       Adm-clerical              40  United-States  <=50K
32559       HS-grad       Adm-clerical              20  United-States  <=50K
32560       HS-grad    Exec-managerial              40  United-States   >50K

[22045 rows x 5 columns]
Ответ: нет

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [10]:
a = df[['race', 'age', 'sex']]
b = a.groupby('race')

c = b.get_group("Asian-Pac-Islander")
d = c['age'].where(c['sex'] == 'Male').max()

a.describe()
print(d)

90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
marr = ['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

a = df[df['marital-status'].isin(marr)]
b = df[~df['marital-status'].isin(marr)]

fr1 = a["salary"] == ">50K"
fr2 = b["salary"] == ">50K"

married_loaded  = a.loc[fr1, :]
not_married_loaded = b.loc[fr2, :]

stat1 = len(married_loaded)/len(df)
stat2 = len(not_married_loaded)/len(df)

print(stat1)
print(stat2)
print("Ответ: среди женатых больше")

0.20687325327846195
0.03393630416756242
Ответ: среди женатых больше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:
a = df[['hours-per-week', 'salary']]

fr1 = a['hours-per-week'] == 90
fr2 = a['salary'] == ">50K"
fr3 = a['salary'] == '<=50K'

work_loaded = a.loc[(fr1 & fr2), :]
work_not_so_loaded = a.loc[(fr1 & fr3), :]

number_of_loaded = work_loaded.salary.count()
number_of_brokes = work_not_so_loaded.salary.count()

total_of_90h_squad = number_of_loaded + number_of_brokes

perc_loaded = (number_of_loaded/total_of_90h_squad)*100

perc_broke = (number_of_brokes/total_of_90h_squad)*100

print(perc_loaded)

print('Ответ: 34.5%')

34.48275862068966
Ответ: 34.5%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [13]:
a = df[['hours-per-week', 'native-country']]

# print(a)
# b = a['native-country'].unique()
# print(b)

grouped_countries = a.groupby('native-country')

# grouped_countries.describe()

average_h = grouped_countries.mean()

print(average_h)

                            hours-per-week
native-country
?                                41.512864
Cambodia                         40.894737
Canada                           40.404959
China                            37.786667
Columbia                         39.067797
Cuba                             39.157895
Dominican-Republic               42.471429
Ecuador                          39.571429
El-Salvador                      36.792453
England                          41.833333
France                           45.068966
Germany                          41.014599
Greece                           44.241379
Guatemala                        39.234375
Haiti                            36.909091
Holand-Netherlands               40.000000
Honduras                         36.307692
Hong                             40.900000
Hungary                          35.615385
India                            41.530000
Iran                             43.976744
Ireland                          42.416667
Italy                            41.602740
Jamaica                          38.592593
Japan                            43.693548
Laos                             40.333333
Mexico                           40.340591
Nicaragua                        36.176471
Outlying-US(Guam-USVI-etc)       41.857143
Peru                             35.387097
Philippines                      39.595960
Poland                           38.333333
Portugal                         41.891892
Puerto-Rico                      38.570175
Scotland                         41.250000
South                            42.412500
Taiwan                           38.882353
Thailand                         45.444444
Trinadad&Tobago                  37.368421
United-States                    40.447755
Vietnam                          37.343284
Yugoslavia                       44.562500

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [14]:
a = df[['age', 'salary']]

a.loc[a['age'].between(16,35), "AgeGroup"] = "young"
a.loc[a['age'].between(35,70), "AgeGroup"] = "adult"
a.loc[a['age'].between(70,100), "AgeGroup"] = "retiree"

grouped = a.groupby('AgeGroup')

grouped.head(10)

C:\Users\user\AppData\Local\Temp\ipykernel_12964\1608242150.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.loc[a['age'].between(16,35), "AgeGroup"] = "young"

     age salary AgeGroup
0     39  <=50K    adult
1     50  <=50K    adult
2     38  <=50K    adult
3     53  <=50K    adult
4     28  <=50K    young
5     37  <=50K    adult
6     49  <=50K    adult
7     52   >50K    adult
8     31   >50K    young
9     42   >50K    adult
10    37   >50K    adult
11    30   >50K    young
12    23  <=50K    young
13    32  <=50K    young
14    40   >50K    adult
15    34  <=50K    young
16    25  <=50K    young
17    32  <=50K    young
26    19  <=50K    young
30    23  <=50K    young
74    79  <=50K  retiree
100   76   >50K  retiree
144   70  <=50K  retiree
157   71  <=50K  retiree
222   90  <=50K  retiree
228   75  <=50K  retiree
316   77  <=50K  retiree
324   76  <=50K  retiree
430   80  <=50K  retiree
499   72  <=50K  retiree

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [15]:
fr1 = a['AgeGroup'] == 'young'
fr2 = a['AgeGroup'] == 'adult'
fr3 = a['AgeGroup'] == 'retiree'
fr4 = a['salary'] == '>50K'

# Can also use cut() and then form bins for each group
# and apply method to get the most rich group by using udf

young_loaded = a.loc[(fr1 & fr4), :]  # 1488
adult_loaded = a.loc[(fr2 & fr4), :]  # 6240
retiree_loaded = a.loc[(fr3 & fr4), :]  #113

print("Чаще зарабатывают больше 50К в группе adult") # Если не так, то поясните

Чаще зарабатывают больше 50К в группе adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [50]:
a = df[['occupation', 'hours-per-week', 'age']]
a = a.rename(columns={'occupation': 'occupation', 'hours-per-week': 'hours', 'age': 'age'})


# grouped = a.groupby('occupation')

groupedTest = a.groupby('occupation')['age'].size().reset_index(name='quantity') # Количество людей в каждой группе
test1488 = a.groupby(['occupation', 'age']).size().reset_index(name='quantity')
# grouped2 = a.groupby(['occupation'], as_index=False)[['age', 'occupation']]

# quantity = grouped.size()

# test1 = grouped2.apply(set).to_dict()

# test_groupedDict = pd.DataFrame.from_dict(test1)
"""
Plan:
1. Find a way to use to_frame or other method to transform groupby into dataframe (Or even make a dictionary out of it and then transform it into df)
2. reset_index or as_index = False
3. Then on a new Dataframe use pandas query in order to use between like in SQL operators
4. Then use filter functions or you can even manage to do that without them at all

Or just find groupby alternative

    - apply method in order to use udf
    - factorize with udf
    - look into stack/unstack while using apply (but the stack will return Series) 
    (unstack function takes a series and returns a df or just returns to the original form)

    How to filter them?

    or try using DataFrameGroupBy.filter(func, dropna=True, *args, **kwargs)
    or just a query
    I think we need a new view, not the grouped result, because we cant use it for filtering age

    try df.sort_values(by=['col1'])

"""
# filter_func1 = grouped['age'] == 16 | 35
# filter_func2 = grouped['hours-per-week'] >5

# acceptable = grouped2.loc[filter_func1 & filter_func2, :]

# print(acceptable)

# grouped2.head()
# grouped.head(10)
# print(test_groupedDict)

# grouped.filter()

                        # Or just use query
# print(groupedTest)

# q1 = groupedTest.query("age== '35'")

# maybe rename hours-per-week

# testOp.query("hours == '90'")
test1488.head(25)

   occupation  age  quantity
0           ?   17        65
1           ?   18        95
2           ?   19       113
3           ?   20       116
4           ?   21        89
5           ?   22        79
6           ?   23        47
7           ?   24        34
8           ?   25        32
9           ?   26        22
10          ?   27        33
11          ?   28        41
12          ?   29        28
13          ?   30        29
14          ?   31        19
15          ?   32        25
16          ?   33        26
17          ?   34        26
18          ?   35        32
19          ?   36        23
20          ?   37         9
21          ?   38        17
22          ?   39        12
23          ?   40        17
24          ?   41        18